{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee FirstName</th>
                <th>Employee LastName</th>
                <th>Employee Email</th>
                <th>Employee Contact</th>
                <th>Employee Address</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
            <td>{{ employee.EmpID }}</td>
            <td>{{ employee.EmpFName }}</td>
            <td>{{ employee.EmpLName }}</td>
            <td>{{ employee.EmpMail }}</td>
            <td>{{ employee.EmpContact }}</td>
            <td>{{ employee.EmpAddress }}</td>
            <td>
                <a href="/update/{{ employee.id }}">Edit</a>
                <a href="/delete/{{ employee.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    <button><a href="/post">Add New Record</a></button>
</body>
</html>